* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    max-width: 150px;
}

h1 {
    font-size: 2.5rem;
    color: #e91e63;
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

p, ul {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

a {
    color: #e91e63;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #e91e63;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}

footer p {
    font-size: 1rem;
}

section {
    margin: 40px 0;
}

section .container {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Estilo geral para o botão */
button {
    background-color: #d81b60;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

button:hover {
    background-color: #bb1150;
}

/* Centralizar o botão no footer */
footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
